@import url("https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css");

* {
    box-sizing: border-box;
    transition-property: background-color, border-color, color, fill, stroke, opacity, transform, box-shadow, filter, display;
    transition-duration: 0.25s;
    transition-timing-function: ease;
}

:root {
    --person-background: var(--bulma-link);
    --person-border: var(--bulma-link);
    --me-border: var(--bulma-danger);
    --me-background: var(--bulma-danger);
    --place-background: var(--bulma-primary);
    --place-border: var(--bulma-primary);
    --event-background: var(--bulma-info);
    --event-border: var(--bulma-info);
    --text-color: var(--bulma-white);
    --bulma-weight-light: 400;
    --bulma-weight-normal: 400;
    --bulma-weight-medium: 400;
    --bulma-weight-semibold: 400;
    --bulma-weight-bold: 400;
    --bulma-weight-extrabold: 400;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#map {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

#map #map-view {
    flex: 1;
    width: 100%;
}

#map-view .node {
    text-anchor: middle;
    font: 12px sans-serif;
}

#map-view .link {
    fill: none;
    stroke: var(--bulma-border);
    stroke-width: 4px;
}

#map-view image {
    pointer-events: none;
}

#map-view image.person {
    clip-path: circle(50%);
}

#map #toolbar {
    box-shadow: var(--bulma-shadow);
    display: flex;
    gap: 0.5rem;
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    min-height: 3rem;
    padding: 0.5rem;
    background-color: var(--bulma-body-background-color);
    border-radius: 100vw;
}

#map #toolbar #objects {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1;
    gap: 1rem;
}

#map #toolbar #objects .object {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bulma-primary);
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid var(--bulma-border);
    border-radius: 100vw;
    overflow: hidden;
}

#map #toolbar #objects .object.person {
    background-color: var(--person-background);
    border-color: var(--person-border);
}

#map #toolbar #objects .object.place {
    background-color: var(--place-background);
    border-color: var(--place-border);
}

#map #toolbar #objects .object.event {
    background-color: var(--event-background);
    border-color: var(--event-border);
}

#map #toolbar #objects .object.selected {
    box-shadow: 0 0 0 0.1rem var(--bulma-primary);
    animation: pulse 1s infinite ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#map #toolbar #objects .object:has(img) p {
    display: none;
}

#map #toolbar #objects .object img {
    width: 3rem;
    height: 3rem;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#map #toolbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--bulma-primary-color);
    cursor: pointer;
    border: 1px solid var(--bulma-border);
    border-radius: 100vw;
    color: var(--bulma-primary-text-color);
}

#map #toolbar button img {
    width: 2rem;
    height: 2rem;
}

#add {
    padding: 1rem;
}

#add .modal-card {
    overflow-y: auto;
    max-height: 100%;
}

#add #close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
}

@media screen and (max-width: 40rem) {
    #add-container {
        padding: 0;
    }

    #add {
        width: 100%;
        border-radius: 0;
    }
}